:root{
    --white: hsl(0, 0%, 100%);
    --text: hsl(228, 12%, 48%);
    --pale: #6f8885;
    --black: #070707;
}

*{
    margin: 0;
}

body{
    background-color: var(--pale);
}

#header-img{
    width: 50px;
    object-fit: none;
}

#nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--white);
    padding: 10px;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: var(--text);
    padding: 0 10px;
}

.logo-container{
    display: flex;
    align-items: center;

}

.the-product{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

#email-section{
    margin-top: 120px;

}

input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--black);
}

#submit{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

section::before{
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

section{
    margin: 40px 20px;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.icon{
    color: var(--white);
    margin-right: 30px;
}

#features{
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#video{
    width: 90%;
}

.product-image{
    width: 100%;
    margin: auto;
    height: 500px;
    border: 1px solid var(--black);
    border-radius: 30px 30px 30px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.product1{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e8/Diamonds_-_Rihanna.png");
}
.product2{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/d/d1/Rihanna_-_Loud.png");
}
.product3{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/3/32/Rihanna_-_Anti.png");
}

.cd{
    background-color: var(--white);
    border-radius: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.inner-cd{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

content{
    font-family: 'Times New Roman', Times, serif;
    color: var(--text);
    margin-bottom: 10px;
}

.flex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-price{
    margin-right: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: green;
}

.old-price{
    text-decoration: line-through;
    color: gray;
}

.author{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    color: var(--text);
    text-transform: uppercase;
}

.header{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0;
    color: brown;
}

.add{
    background-color: green;
    cursor: pointer;
    padding: 15px;
    border: #070707;
    border-radius: 10px;
    width: 100%;
    color: var(--white);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin-bottom: 10px;
}

@media only screen and (min-width: 600px){
    #nav-bar{
        flex-direction: row;
    }
}

@media only screen and (450px < width < 600px){
    .cd{
        font-size: 0.85rem;
    }
    .product-image{
        height: 400px;
    }
}

@media only screen and (450px <= width){
    .cd{
        display: flex;
        max-width: 525px;
    }
    .inner-cd{
        width: 300px;
        padding: 20px;
    }
    .product-image{
        width: 400px;
        border-radius: 10px 0 0 10px;
    }
}

@media only screen and (width >= 1000px){
    #video{
        width: 70%;
    }
    .product-image{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}